body {
    padding: 2px;
}

header, footer, .section-one {
    background-color: #1f2937;
    color: white;
   
}
header ul {
    margin: 0;
}

.left-side, .right-side {
    border: solid black;
    flex: 1 1 0;
    
}

.left-top{
    font-size: 48px;
    font-weight: bolder;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header-links ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 5px;
}


.section-one {
    display: flex;
    padding: 15px;
    border: solid black;
    padding: 10px 150px;
    flex: 1 1 0px;
}