body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, footer, .section-one {
    background-color: #1f2937;
    color: white;
   
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
header ul {
    margin: 0;
}
.right-side{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}


 .right-side {
    flex: 1.25;   
}

.left-side {
    flex: 1;
}

.left-top{
    font-size: 48px;
    font-weight: bolder; 
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}
.header-links{
    display: flex;
}

.header-links ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;
    font-weight: 100;
    font-size: 18px;
    align-items: center;
}


.section-one {
    display: flex;
    padding: 80px 150px;
    gap: 20px;
}

.left-side button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
}
.body-two {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.left-middle {
    margin: 5px 0;
}
.header-logo {
    align-self: center;
    font-weight:bolder;
    font-size: 24px;
    padding-bottom: 5px;
}
.header-links, .left-middle{
    font-size: 18px;
    color: #e5e7eb;

}

.section-three {
    background-color: #e5e7eb;
    text-align: left;
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 36px;
    font-weight: light italic;

}
.thor {
    font-weight: bolder;
}



.section-four {
  
   display: flex;
   justify-content: center;
   align-self: center;
   padding: 0 15px;
   flex: 1;
   margin: 50px;
  
}

.section-four-center {
display: flex;
justify-content: space-around;
flex: 1;
padding: 20px;
background-color: #3882f6;
border-radius: 5px;
margin: 80px;

}
.section-four ul {
    list-style-type: none;
    padding-left: 0;

}
.sec-four-middle {
    display: flex;
    color: white;
    width: 900px;
    align-self: center;
    justify-content: space-around;
    gap: 40px;
}

.sec-four-middle button {
    align-self: center;
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    
}
.media-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 30px;
}
.media-objects {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

img, .media-obj div{
    align-self: center;
}

.media-obj img {
    display: flex;
    border-color: #3882f6;
    border-width: 5px;
    border-style: solid;
    border-radius: 12.5px;
    width: 150px;
    height: 150px;
    

}

.media-obj {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.media-obj div {
    width: 135px;
}